# Uji Normalitas

Uji normalitas digunakan untuk memeriksa apakah data berdistribusi normal atau tidak

### Import library yang dibutuhkan

In [1]:
import pandas as pd
from scipy import stats

### Membaca Dataset yang digunakan

In [2]:
csv = pd.read_csv('./dataset/household_power_consumption.csv')

### Melihat sekilas data yang akan di uji

In [3]:
data = csv.iloc[:, 3:]

data.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2.58,0.136,241.97,10.6,0,0,0.0
1,2.552,0.1,241.75,10.4,0,0,0.0
2,2.55,0.1,241.64,10.4,0,0,0.0
3,2.55,0.1,241.71,10.4,0,0,0.0
4,2.554,0.1,241.98,10.4,0,0,0.0

### Uji Normalitas dengan Algoritma Jarque Bera

In [4]:
# Melakukan uji Jarque-Bera pada dataset
stat, p = stats.jarque_bera(data)

# Menentukan apakah data normal atau tidak dengan alpha = 0.05
alpha = 0.05
if p > alpha:
    print("Data terdistribusi normal")
else:
    print("Data tidak terdistribusi normal")

Data tidak terdistribusi normal